
h2{
    background-color:black;
    padding:4;margin:30;
    text-align:center;
    font-size:50px;
     border:solid white 10px ;
     color:#f45590;
    
}
     
     
     p{
         font-size:25;
         padding:23;margin:23;
         color:black;
         border:white;
     }
     
    h1{background-color:black;
    padding:4;margin:30;
    text-align:center;
    font-size:50px;
        border:solid white  10px;
        color:#f45590;
    }
     body{ background-color:#f45590;
     }
     
     img{ margin-left:220px; }
     
     
#navbar{
    background-image:url("logo.png");
    background-repeat: no-repeat;
    background-size: 850px 140px;
    background-position: 50% 37%;
     text-align: center;
    background-color:#f45590; 
     position: relative;
      top: 20px;
  font-family: 'Oswald', sans-serif;

  height: 70px;
  border: 10px #FF2F6E double;
  }
  
  #navbar a{
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
        position: relative;
       padding: 5px 20px;
       top:22;
       color:white;
  }
#navbar a:hover{
    color:#DBE810;
     transition: 700ms;
    border: #DBE810 solid 5px;
}
    #footer{
        height: 100px;
        background-color: red;
         
        
    }
 
.pos{
    display:block;
    width: 380px;
    position: relative;
    top:10px;
    margin:auto;
}

#social{
    margin-left: 10px;
    margin-right: 10px;
}

     
